/* Global styles */
:root {
  --link-color: #00bfff;
  --link-color-hover: lightgreen;
  --dark-bg: rgb(0, 20, 30);
  --dark-color: rgb(190, 190, 190);
  --light-bg: white;
  --light-color: rgb(0, 20, 30);

  --quote-thickness : 3px;
}

.ilone-dark {
  background-color: var(--dark-bg);
  color: var(--dark-color);
}

.ilone-light {
  background-color: var(--light-bg);
  color: var(--light-color);
}

/* link */

a {
  color: var(--link-color);
  background-color: transparent;
}

a:hover {
  color: var(--link-color-hover);
}

.content {
  margin-bottom: 5ch;
}

.custom-nav .nav-link {
  text-decoration: underline;
  font-size: 1rem;
  padding-left: 0.1rem;
  display: inline-block;
}
.custom-nav .nav-item {
  margin: 0.5rem;
}

.fw-midbold {
  font-weight: 600;
}

h2,
h3 {
  margin-top: 3rem;
}

.go-top {
  transform: translateY(+60px);
  transition: transform .2s ease-in-out;
}

.go-top.show {
  transform: translateY(0);
}

.header {
  position: sticky;
  top: 0;
}

.ilone-dark .header {
  background-color: var(--dark-bg);
  color: var(--dark-color);
}

.ilone-light .header{
  background-color: var(--light-bg);
  color: var(--light-color);
}

blockquote {
  padding-left: 1rem;
  font-style: italic;
}

.ilone-dark blockquote {
  border-left: var(--dark-color) solid var(--quote-thickness);
}
.ilone-light blockquote {
  border-left: var(--light-color) solid var(--quote-thickness);
}

.bg-badge {
  background-color: var(--link-color) !important;
  /* color: var(--dark-color); */
  transition: background-color .1s ease-in-out;
}

.bg-badge:hover{
  background-color: lightgreen !important;
}

.bg-badge a {
  text-decoration: none;
  color: unset;
}
