/* Global styles */
:root {
  --link-color: #0099cc;
  --link-color-hover: lightgreen;
  --dark-bg: rgb(0, 20, 30);
  --dark-color:rgb(190, 190, 190);
  --light-bg: white;
  --light-color:rgb(0, 20, 30);
}

.ilone-dark {
  background-color: var(--dark-bg);
  color: var(--dark-color);
}

.ilone-light {
  background-color: var(--light-bg);
  color: var(--light-color);
}

/* link */

a {
  color: var(--link-color);
  background-color: transparent;
}

a:hover {
  color: var(--link-color-hover);
}

.custom-nav a {
  text-decoration: underline;
  font-size: 1.2rem;
  padding-left: .2rem;
  display: inline-block;
}

.custom-nav .nav-item {
  margin: .8rem;
}

.fw-midbold {
  font-weight: 600;
}


h2, h3 {
  margin-top: 3rem;
}
